<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Image Uploader{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'photos/css/upload.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    <script src="{% static 'photos/js/upload.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>